

/* Menu */

.container-menu {
    position: relative;
    background-color: #F64322;
    margin: auto;
    width: 90%;
    height: auto;
    border-radius: 8px;
  
  }
  
  .image {
    max-width: 100%;
    width: 275px;
    height: 189px;
    box-shadow: 0px 0px 4px 0 #111111;
    border-radius: 8px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #F64322;
  }
  
  .container-menu:hover .image {
    opacity: 1;
  }
  .container-menu:hover .overlay {
    opacity: 1;
    border-radius: 8px;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}