@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

.slider{
	width: 70%;
	height: 400px;
	margin: auto;
	overflow: hidden;
}

.slider ul li img{

 	width: 100%;
 	object-fit: cover;
}


.slider2{
	width: 70%;
	height: 200px;
	margin: auto;
	overflow: hidden;

}

.slider ul{
	display: flex;
	width: 300%;
	padding-top: 100px;
	animation: cambio 15s infinite;
	animation-direction: alternate;
}


.slider2 ul{
	display: flex;
	padding: 15px;;
	width: 300%;
	animation: cambio 15s infinite;
	animation-direction: alternate;
}



.slider li{
	width: 100%;
	list-style: none;
}
.slider ul li:hover{
	background-color: transparent;

}

.slider2 li{
	width: 100%;
	list-style: none;
}
.slider2 ul li:hover{
	background-color: transparent;

}



.slider2 p{
	
	margin: 1em 0;
    font-size: 1.4em;
    padding-top: 70px;

}

@keyframes cambio{
	0% {margin-left:  0;}
	30%{margin-left: 0;}

	35% {margin-left:  -100%;}
	65%{margin-left: -100%;}

	70% {margin-left:  -200%;}
	100%{margin-left: -200%;}

}


.mytitulo{
	width: 400px;
	margin: auto;
	margin-bottom: 60px;
	margin-top: 50px;
}

.mytitulo h1{
	text-align: center;
	font-family: 'Titillium Web';


}

